<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('market_list') }}">Markets</a>
      <a href="{{ url_for('new_market') }}">Add Market</a>
      <a href="{{ url_for('intervention_list') }}">Interventions</a>
      <a href="{{ url_for('new_intervention') }}">Add Intervention</a>
      <a href="{{ url_for('invoice_list') }}">Invoices</a>
      <a href="{{ url_for('new_invoice') }}">Add Invoice</a>
    </nav>
    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
